---

import Layout from '../layouts/Layout.astro';
import Header from '../components/header.astro';
 import '../styles/global.css'
 import Footer from '../components/footer.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.


import tm_circle from '../assets/tm_circle.png';
import icon_control from '../assets/Asset_3.png';
import { Fingerprint } from 'lucide-astro';
import { Clock } from 'lucide-astro';
import { ArrowRightLeft } from 'lucide-astro';
import { MonitorPlay } from 'lucide-astro';
import { AppWindow } from 'lucide-astro';
import { Scale } from 'lucide-astro';
import { Hourglass } from 'lucide-astro';
import { CloudUpload } from 'lucide-astro';
import { Cog } from 'lucide-astro';
import { Search } from 'lucide-astro';
import { Shield } from 'lucide-astro';
import { Funnel } from 'lucide-astro';
import { Brain } from 'lucide-astro';
import { Bug } from 'lucide-astro';

---

<Layout>
<Header/>

	<div class="flex flex-col items-center mt-12 md:mt-24">
		<div  id="mainpage" class="container">
			<div class=" my-5 py-10 md:py-10 flex flex-col justify-center text-center  gap-y-5 md:gap-y-1 items-center md:px-15 px-5">
				<div id="moveleft" class="font-ethnocentric3 text-5xl md:text-6xl bg-clip-text text-transparent bg-gradient-to-tr from-[#264D70] to-[#49BFBF] dark:text-slate-200 font-bold dark:font-normal transition-transform translate-x-15 duration-1000 -z-10">Zero Trust Demystified</div>	
				<div class="md:flex gap-5">
					<div class="hidden md:block md:w-70"></div>
					<div id="moveright" class="lg:p-5 dark:text-slate-200 text-justify md:text-center grow md:text-lg transition-transform -translate-x-15 duration-1000 relative -z-10">ThreatMatic<sup class="text-[10px] dark:text-slate-200">TM</sup> strikes the perfect balance between security and usability. Our modular and uninterruptible Zero Trust enforcement design, managed from an ultra-easy and modern UI ensures that your most valuable assets are protected instantaneously with ZTNA - your advantage when responding to ransomware, malware, phishing attacks, DNS poisoning and so much more. QSChannel™ Zones and Cloudiffusion™ enable you to deploy microsegmentation and cloud integration with unparalleled ease, security and performance.</div>
					<div class="hidden md:block md:w-70"></div>
					
				</div>
			</div>	
			<div id="moveup" class="my-5 py-7 flex flex-col md:flex-row justify-center md:gap-x-10  gap-y-10 items-center md:px-15 px-5 transition-transform translate-y-15 duration-1000 relative -z-10 ">
				<div class=""><button class="px-6 py-2  bg-radial from-[#49BFBF]  to-[#264D70] dark:bg-gradient-to-t dark:from-[#264D70] dark:to-[#49BFBF] text-white text-base font-thin rounded-md focus:outline-none w-auto h-auto hover:scale-110 ">
					Try ThreatMatic Free
				  </button></div>
				  <div class=""><button class="px-6 py-2 bg-radial from-[#49BFBF]  to-[#264D70] dark:bg-gradient-to-t dark:from-[#264D70] dark:to-[#49BFBF] text-white text-base font-thin rounded-md focus:outline-none w-auto h-auto hover:scale-110 ">
					Request a Demo
				  </button></div>
				  <div class=""><button class="px-6 py-2  bg-radial from-[#49BFBF]  to-[#264D70] dark:bg-gradient-to-t dark:from-[#264D70] dark:to-[#49BFBF] text-white text-base font-thin rounded-md focus:outline-none w-auto h-autohover:scale-110 transition-transform">
					Request a Demo
				  </button></div>
			</div>
			<div class="flex justify-center m-5 pb-10 md:px-15 px-5">
				<img src={tm_circle.src} width="auto" height="auto" class="my-1 md:w-3xl h-auto" />
			</div>
			<div class="blocks relative -z-10">
				<div class="flex  flex-col md:flex-row justify-center m-5 text-center md:gap-x-30 items-center gap-y-10 mt-3 md:px-15 px-5" >
					<div id="moveright1" class="">
						<span class="font-ethnocentric3 text-3xl md:text-3xl bg-clip-text text-transparent  bg-gradient-to-tr from-[#49BFBF] to-[#264D70] dark:text-slate-200 font-bold dark:font-normal">900<span class="font-ethnocentric">+</span></span>
						<div class="px-3 dark:text-slate-200">Hours Saved</div>
					</div>
					<div id="moveup1" class="">
						<span class="font-ethnocentric3 text-3xl md:text-3xl bg-clip-text text-transparent  bg-gradient-to-tr from-[#49BFBF] to-[#264D70] dark:text-slate-200 font-bold dark:font-normal"><span class="font-ethnocentric">&lt;=</span> 10 s</span>
						<div class="px-3 dark:text-slate-200">Policy Creation</div>
					</div>
					<div id="moveleft1" class="">
						<span class="font-ethnocentric3 text-3xl md:text-3xl bg-clip-text text-transparent  bg-gradient-to-tr from-[#49BFBF] to-[#264D70] dark:text-slate-200 font-bold dark:font-normal">60 ms</span>
						<div class="px-3 dark:text-slate-200">Policy Propagation</div>
					</div>
				</div>
			</div>

			<div class="md:px-15 px-5 blocks relative -z-10">
				<div class=" my-5 py-7 md:pt-20 flex flex-col justify-center text-center gap-y-5 md:gap-y-1 items-center">
					<div class="font-ethnocentric3 text-3xl md:text-4xl bg-clip-text text-transparent bg-gradient-to-tr from-[#264D70] to-[#49BFBF] dark:text-slate-200 font-bold dark:font-normal ">Simplicity Comes Standard</div>	
					<div class="flex justify-center">
						<div class="hidden md:block md:w-80"></div>
						<div class="lg:p-5 dark:text-slate-200 text-center md:text-center grow md:text-lg">Whether you’re a 10 person small business or a large enterprise, ThreatMatic™ enables uncompromising endpoint protection. Lightning fast policy changes with no learning curve and instantaneous ZTNA enforcement: all adminstered by a refreshingly simple and modern UI.</div>
						<div class="hidden md:block md:w-80"></div>
						
					</div>
				</div>
			</div>
			<div class="flex flex-col md:flex-row items-center m-5 mb-20  gap-x-15  md:px-15 px-5  blocks relative -z-10">
					<div class=" flex flex-col items-center gap-y-5 pb-5">
						<div class="px-3 dark:text-slate-200 text-center"><Fingerprint  class="text-[#49BFBF] dark:text-slate-200 w-10 h-10"/></div>
						<div class="text-lg md:text-lg  text-black dark:text-slate-200 font-extrabold dark:font-normal text-center">No-compromise endpoint security rooted in identity</div>
					</div>
					<div class=" flex flex-col items-center gap-y-5 pb-5">
						<div class="px-3 dark:text-slate-200 text-center"><Clock  class="text-[#49BFBF] dark:text-slate-200 w-10 h-10"/></div>
						<div class="text-lg md:text-lg  text-black dark:text-slate-200 font-extrabold dark:font-normal text-center">Millisecond malware countermeasures</div>
					</div>
					<div class=" flex flex-col items-center gap-y-5 pb-5">
						<div class="px-3 dark:text-slate-200 text-center"><Clock class="text-[#49BFBF] dark:text-slate-200 w-10 h-10"/></div>
						<div class="text-lg md:text-lg  text-black dark:text-slate-200 font-extrabold dark:font-normal text-center">On demand microsegmentation and app traffic control</div>
					</div>

			</div>
		</div>



		
		<div class="my-10 bg-gray-50 dark:bg-black/50 w-12/12 -z-10   flex flex-col items-center ">
				<div class="lg:px-15 px-5 flex flex-col md:flex-row  justify-between items-center py-4 ">
					<div class="lg:px-15 px-5 flex flex-col md:flex-col lg:flex-row justify-between items-center 	">
						
						<div class="font-ethnocentric3 text-3xl md:text-4xl bg-clip-text text-transparent bg-gradient-to-tr from-[#264D70] to-[#49BFBF] dark:text-slate-200 font-bold dark:font-normal  md:m-5 md:w-10/12">Zero Trust</div>
					
						<br>
						<div class="flowleft -z-20">
							<div class="flex flex-row flex-wrap gap-6 md:m-5 md:ml-10 justify-between ">
								<div class="md:w-5/12 md:m-5 flex flex-col gap-y-5  ">
									<div class="w-10 h-10 rounded-4xl bg-[#264D70] dark:bg-gray-200  p-2 ">
										<MonitorPlay class="text-slate-200 dark:text-[#264D70] "  /> 
									</div>
									<div class=" flex flex-col gap-y-4 dark:text-slate-200">
										<div class="text-xl font-bold">Application Control</div>
										<div>Audit or block applications directly on endpoints by any user, group, device or device-pool groupings.</div>
									</div> 
								</div>
		
								<div class="md:w-5/12 md:m-5 flex flex-col gap-y-5  ">
									<div class="w-10 h-10 rounded-4xl bg-[#264D70] dark:bg-gray-200  p-2 ">
										<AppWindow class="text-slate-200 dark:text-[#264D70] "  />
									</div>
									<div class=" flex flex-col gap-y-4 dark:text-slate-200">
										<div class="text-xl font-bold">Executable Control</div>
										<div>Audit or block any executable to IPv4 or IPv6 addresses at endpoints.</br></div>
									</div>
								</div>
		
								<div class="md:w-5/12 md:m-5 flex flex-col gap-y-5  ">
									<div class="w-10 h-10 rounded-4xl bg-[#264D70] dark:bg-gray-200  p-2 ">
										<Scale class="text-slate-200 dark:text-[#264D70] "  />
									</div>
									<div class=" flex flex-col gap-y-4 dark:text-slate-200">
										<div class="text-xl font-bold">Instant Rule-Based Traffic Control</div>
										<div>Instantly block in-flight traffic by deploying rules to users, groups, devices, and device-pools.</div>
									</div>
								</div>
								
							</div>
						</div>
						
					</div>
				</div>
	
		</div>
		<div class="my-10 w-12/12 flex flex-col items-center ">
			<div class="lg:px-15 px-5 flex flex-col md:flex-row  justify-between items-center py-4 ">
				<div class="lg:px-15 px-5 flex flex-col md:flex-col lg:flex-row justify-between items-center 	">
					
					<div class="font-ethnocentric3 text-3xl md:text-4xl bg-clip-text text-transparent bg-gradient-to-tr from-[#264D70] to-[#49BFBF] dark:text-slate-200 font-bold dark:font-normal  md:m-5 md:w-10/12">Take Control of Your Bandwidth</div>
				
					<br>
					<div class="flowleft -z-20">
						<div class="flex flex-row flex-wrap gap-6 md:m-5 md:ml-10 justify-between ">
							<div class="md:w-5/12 md:m-5 flex flex-col gap-y-5  ">
								<div class="w-10 h-10 rounded-4xl bg-[#264D70] dark:bg-gray-200  p-2 ">
									<Hourglass class="text-slate-200 dark:text-[#264D70] "  /> 
								</div>
								<div class=" flex flex-col gap-y-4 dark:text-slate-200">
									<div class="text-xl font-bold">Free Up Your Bandwidth</div>
									<div>Manage network bandwidth to prevent bandwidth-starving software updates.</div>
								</div> 
							</div>
	
							<div class="md:w-5/12 md:m-5 flex flex-col gap-y-5  ">
								<div class="w-10 h-10 rounded-4xl bg-[#264D70] dark:bg-gray-200  p-2 ">
									<CloudUpload class="text-slate-200 dark:text-[#264D70] "  />
								</div>
								<div class=" flex flex-col gap-y-4 dark:text-slate-200">
									<div class="text-xl font-bold">Internet & Cloud Resource Bandwidth Limits</div>
									<div>Fine-tune bandwidth throttle rates for executables accessing your cloud-resources or the internet.</br></div>
								</div>
							</div>
	
							<div class="md:w-5/12 md:m-5 flex flex-col gap-y-5  ">
								<div class="w-10 h-10 rounded-4xl bg-[#264D70] dark:bg-gray-200  p-2 ">
									<Cog class="text-slate-200 dark:text-[#264D70] "  />
								</div>
								<div class=" flex flex-col gap-y-4 dark:text-slate-200">
									<div class="text-xl font-bold">Performance Tuning</div>
									<div>Control bandwidth allocation to specific workloads bidirectionally by user, group, device, and pool for fine-grained performance tuning at the host level.</div>
								</div>
							</div>
							
						</div>
					</div>
					
				</div>
			</div>

		</div>
		<div class="my-10 bg-gray-50 dark:bg-black/50 w-12/12 -z-10 flex flex-col items-center ">
			<div class="lg:px-15 px-5 flex flex-col md:flex-row  justify-between items-center py-4 ">
				<div class="lg:px-15 px-5 flex flex-col md:flex-col lg:flex-row justify-between items-center 	">
					
					<div class="font-ethnocentric3 text-3xl md:text-4xl bg-clip-text text-transparent bg-gradient-to-tr from-[#264D70] to-[#49BFBF] dark:text-slate-200 font-bold dark:font-normal  md:m-5 md:w-10/12">Secure Your Network</div>
				
					<br>
					<div class="flowleft -z-20">
						<div class="flex flex-row flex-wrap gap-6 md:m-5 md:ml-10 justify-between ">
							<div class="md:w-5/12 md:m-5 flex flex-col gap-y-5  ">
								<div class="w-10 h-10 rounded-4xl bg-[#264D70] dark:bg-gray-200  p-2 ">
									<ArrowRightLeft class="text-slate-200 dark:text-[#264D70] "  /> 
								</div>
								<div class=" flex flex-col gap-y-4 dark:text-slate-200">
									<div class="text-xl font-bold">Inbound Access Control</div>
									<div>Orchestrate inbound access rules directly on all your endpoints.</div>
								</div> 
							</div>
	
							<div class="md:w-5/12 md:m-5 flex flex-col gap-y-5  ">
								<div class="w-10 h-10 rounded-4xl bg-[#264D70] dark:bg-gray-200  p-2 ">
									<Search class="text-slate-200 dark:text-[#264D70] "  />
								</div>
								<div class=" flex flex-col gap-y-4 dark:text-slate-200">
									<div class="text-xl font-bold">Precise Traffic Monitoring</div>
									<div>Track and alert on specific traffic streams from executables to specific destinations and ports.</br></div>
								</div>
							</div>
	
							<div class="md:w-5/12 md:m-5 flex flex-col gap-y-5  ">
								<div class="w-10 h-10 rounded-4xl bg-[#264D70] dark:bg-gray-200  p-2 ">
									<Scale class="text-slate-200 dark:text-[#264D70] "  />
								</div>
								<div class=" flex flex-col gap-y-4 dark:text-slate-200">
									<div class="text-xl font-bold">Rapid Vulnerability-Based Blocking</div>
									<div>Instantly block or throttle in-progress or scheduled software updates with known vulnerabilities.</div>
								</div>
							</div>
							
						</div>
					</div>
					
				</div>
			</div>

		</div>
		<div class="my-10 flex flex-col items-center ">
			<div class="lg:px-15 px-5 flex flex-col md:flex-row  justify-between items-center py-4 ">
				<div class="lg:px-15 px-5 flex flex-col md:flex-col lg:flex-row justify-between items-center 	">
					
					<div class="font-ethnocentric3 text-3xl md:text-4xl bg-clip-text text-transparent bg-gradient-to-tr from-[#264D70] to-[#49BFBF] dark:text-slate-200 font-bold dark:font-normal  md:m-5 md:w-10/12">Microsegment</div>
				
					<br>
					<div class="flowleft -z-20">
						<div class="flex flex-row flex-wrap gap-6 md:m-5 md:ml-10 justify-between ">
							<div class="md:w-5/12 md:m-5 flex flex-col gap-y-5  ">
								<div class="w-10 h-10 rounded-4xl bg-[#264D70] dark:bg-gray-200  p-2 ">
									<Clock class="text-slate-200 dark:text-[#264D70] "  /> 
								</div>
								<div class=" flex flex-col gap-y-4 dark:text-slate-200">
									<div class="text-xl font-bold">QSChannel Zones</div>
									<div>Simple and direct policy action to build unlimited any-to-any nano- and micro-segments:</div>
								</div> 
							</div>
	
							<div class="md:w-5/12 md:m-5 flex flex-col gap-y-5  ">
								<div class="w-10 h-10 rounded-4xl bg-[#264D70] dark:bg-gray-200  p-2 ">
									<Funnel class="text-slate-200 dark:text-[#264D70] "  />
								</div>
								<div class=" flex flex-col gap-y-4 dark:text-slate-200">
									<div class="text-xl font-bold">Granular Traffic Bandwidth Control</div>
									<div>Optimize performance and enhance security by controlling bandwidth throttling rates by application for traffic by user, group, device or pool.</br></div>
								</div>
							</div>
	
							<div class="md:w-5/12 md:m-5 flex flex-col gap-y-5  ">
								<div class="w-10 h-10 rounded-4xl bg-[#264D70] dark:bg-gray-200  p-2 ">
									<CloudUpload class="text-slate-200 dark:text-[#264D70] "  />
								</div>
								<div class=" flex flex-col gap-y-4 dark:text-slate-200">
									<div class="text-xl font-bold">Cloudiffusion</div>
									<div>Seamless and secure diffusion between on-prem-private and public clouds, with ZTNA policies.</div>
								</div>
							</div>
							
						</div>
					</div>
					
				</div>
			</div>

		</div>
		<div class="my-10 bg-gray-50 dark:bg-black/50 w-12/12 -z-10 flex flex-col items-center ">
			<div class="lg:px-15 px-5 flex flex-col md:flex-row  justify-between items-center py-4 ">
				<div class="lg:px-15 px-5 flex flex-col md:flex-col lg:flex-row justify-between items-center 	">
					
					<div class="font-ethnocentric3 text-3xl md:text-4xl bg-clip-text text-transparent bg-gradient-to-tr from-[#264D70] to-[#49BFBF] dark:text-slate-200 font-bold dark:font-normal  md:m-5 md:w-10/12">Defense-in-Depth</div>
				
					<br>
					<div class="flowleft -z-20">
						<div class="flex flex-row flex-wrap gap-6 md:m-5 md:ml-10 justify-between ">
							<div class="md:w-5/12 md:m-5 flex flex-col gap-y-5  ">
								<div class="w-10 h-10 rounded-4xl bg-[#264D70] dark:bg-gray-200  p-2 ">
									<Brain class="text-slate-200 dark:text-[#264D70] "  /> 
								</div>
								<div class=" flex flex-col gap-y-4 dark:text-slate-200">
									<div class="text-xl font-bold">Threat Intelligence Integration</div>
									<div>Combine Cloud-based threat intelligence to automate instantaneous anti-malware policy delivery to your endpoints.</div>
								</div> 
							</div>
	
							<div class="md:w-5/12 md:m-5 flex flex-col gap-y-5  ">
								<div class="w-10 h-10 rounded-4xl bg-[#264D70] dark:bg-gray-200  p-2 ">
									<AppWindow class="text-slate-200 dark:text-[#264D70] "  />
								</div>
								<div class=" flex flex-col gap-y-4 dark:text-slate-200">
									<div class="text-xl font-bold">Browser DNS-over-HTTP Control</div>
									<div>Control DNS-over-HTTP for individual browsers by user, group, or device.</br></div>
								</div>
							</div>
	
							<div class="md:w-5/12 md:m-5 flex flex-col gap-y-5  ">
								<div class="w-10 h-10 rounded-4xl bg-[#264D70] dark:bg-gray-200  p-2 ">
									<Bug class="text-slate-200 dark:text-[#264D70] "  />
								</div>
								<div class=" flex flex-col gap-y-4 dark:text-slate-200">
									<div class="text-xl font-bold">Precise Malware Blocking</div>
									<div>Instantly block malware executables from contacting C2 or from spreading.</div>
								</div>
							</div>

							<div class="md:w-5/12 md:m-5 flex flex-col gap-y-5  ">
								<div class="w-10 h-10 rounded-4xl bg-[#264D70] dark:bg-gray-200  p-2 ">
									<Funnel class="text-slate-200 dark:text-[#264D70] "  />
								</div>
								<div class=" flex flex-col gap-y-4 dark:text-slate-200">
									<div class="text-xl font-bold">Granular DNS Traffic Control</div>
									<div>Control DNS traffic to specific servers, and resolution to specific domains.</div>
								</div>
							</div>
							
						</div>
					</div>
					
				</div>
			</div>

		</div>
		

		

		 <!--<div class="w-12/12 flex lg:flex-row flex-col item-center gap-x-10  py-5">
			<div class="w-full px-15 py-5">
				<div class="font-ethnocentric3 text-3xl md:text-4xl bg-clip-text text-transparent bg-gradient-to-tr from-[#264D70] to-[#49BFBF] dark:text-slate-200 font-bold dark:font-normal  md:m-5 md:w-10/12">Defense-in-Depth</div>
	
				<div class="dark:text-slate-200">ThreatMatic™ strikes the perfect balance between security and usability.</div>
			</div>
	
			<div class="w-full max-w-2xl  aspect-video px-15 py-5 ">
				<iframe 
				  class="w-full h-full"
				  src="https://lh3.googleusercontent.com/drive-storage/AJQWtBMO6u6ZNZkuspMH9YRNxX76KBUPd5Tu-pmdpctIfMR2sSBzNTE-l6G2A3domjkybz3hK9M5MkZ3VjqPtqlQjROQZw4wcB9KsAIe7g=s512" 
				  title="YouTube video player" 
				  frameborder="0" 
				  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
				  allowfullscreen>
				</iframe>
			  </div>
		  </div>-->
		<div class = "max-w-max flex flex-col items-center py-5	">
			<p class="m-5 text-3xl font-extrabold dark:text-slate-200">Join our Mailing List!</p>
			<div class="pm-5"><button class="px-6 py-2 bg-radial from-[#49BFBF]  to-[#264D70] dark:bg-gradient-to-t dark:from-[#264D70] dark:to-[#49BFBF] text-white text-base font-thin rounded-md focus:outline-none w-auto h-auto hover:scale-110">
				Intrest Form
			  </button></div>
		</div>
		

	</div>	

</Layout>

<Footer />

<style>
	@keyframes appearup {

		from{
			opacity: 0;
			transform: translateY(100PX);
		}
		to{
			opacity:1;
			transform: translateY(0px);
			
		}
		
	}
	.blocks{
		animation:  appearup 10s linear;
		animation-timeline: view();
		animation-range: entry 0% cover 40%;
	}

	@keyframes appearLeft {

	from{
		opacity: 0;
		transform: translateX(50PX);
	}
	to{
		opacity:1;
		transform: translateX(0px);
		
	}

	}
	.flowleft{
	animation:  appearLeft 10s linear;
	animation-timeline: view();
	animation-range: entry 0% cover 40%;
	scroll:none;
	}
</style>

<script>
	
	  window.addEventListener('load', function() {

      const moveRight = document.getElementById('moveright');
	  const moveLeft = document.getElementById('moveleft');
	  const moveUp = document.getElementById('moveup');

      
      // Ensure the element exists
      if (moveRight) {
        // Apply translate class and trigger transition
		moveRight.classList.remove('-translate-x-15');
        moveRight.classList.add('translate-x-0');
      }

	  if (moveLeft) {
        // Apply translate class and trigger transition
        moveLeft.classList.remove('translate-x-15');
		moveLeft.classList.add('translate-x-0');
      }

	  if (moveUp) {
        // Apply translate class and trigger transition
        moveUp.classList.remove('translate-y-15');
		moveUp.classList.add('translate-y-0');
      }
    });

	// window.addEventListener('scroll', () => {
	// 	const moveRight = document.getElementById('moveright1');
	//   const moveLeft = document.getElementById('moveleft1');
	//   const moveUp = document.getElementById('moveup1');

	 
      
    //   // Ensure the element exists
    //   if (moveRight) {
    //     // Apply translate class and trigger transition
	// 	moveRight.classList.remove('-translate-x-15');
    //     moveRight.classList.add('translate-x-0');
    //   }

	//   if (moveLeft) {
    //     // Apply translate class and trigger transition
    //     moveLeft.classList.remove('translate-x-15');
	// 	moveLeft.classList.add('translate-x-0');
    //   }

	//   if (moveUp) {
    //     // Apply translate class and trigger transition
    //     moveUp.classList.remove('translate-y-15');
	// 	moveUp.classList.add('translate-y-0');
    //   }
    
	// });
// 	window.addEventListener('scroll', () => {
//     // Get all the elements you want to apply translate effect to
//     const elements = [
//         document.getElementById('moveright1'),
//         document.getElementById('moveleft1'),
//         document.getElementById('moveup1')
//     ];

//     // Loop through each element
//     elements.forEach((element) => {
//         if (element) {
//             // Get the element's position relative to the viewport
//             const rect = element.getBoundingClientRect();
            
//             // Check if the element is in the viewport (you can adjust the threshold here if needed)
//             if (rect.bottom <= window.innerHeight) {
//                 // Apply translate effect if the element is in the viewport
//                 element.classList.remove('-translate-x-15', 'translate-y-15', 'translate-x-15');
//                 element.classList.add('translate-x-0', 'translate-y-0','translate-x-0');
//             } else {
//                 // If the element is not in the viewport, reset its position (optional)
//                 element.classList.add('-translate-x-15', 'translate-y-15','translate-x-15' );
//                 element.classList.remove('translate-x-0', 'translate-y-0', 'translate-x-0');
// 				element.classList.add('translated');

// 				console.log(element.classList);
//             }
//         }
//     });
//  });
</script>
