
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Threatmatic</title>
	</head>
	<body class="dark:bg-gradient-to-b from-[#264D70] via-[#3C657A] to-[#49BFBF]  bg-cover bg-fixed bg-no-repeat">
		<slot />

		<!-- <div class="p-10 bg-amber-500">test</div> -->
	</body>
	<!-- <body class="dark:bg-black" style = " background-size: cover; transition: opacity 5s ease-in-out duration-500 delay-300; ">
		<slot />

		 dark:bg-gradient-to-b from-[#264D70] via-[#3C657A] to-[#49BFBF] bg-cover bg-fixed bg-no-repeat transition-colors duration-750
		
		theam not match
		dark:bg-gradient-to-b from-[#264D70] via-[#3C657A] to-[#49BFBF]
		dark:bg-gradient-to-b from-[#1F3A45] via-[#2B4F5D] to-[#3F7A8C]
		1

		 dark:bg-gradient-to-b from-[#264D70]  via-[#377489] to-[#4C9784]
			2
		
		  dark:bg-gradient-to-b from-[#264D70] from-10% to-[#4C9784] to-90%

		 3

		 bg-gradient-to-tr from-[#4C9784] from-10% to-[#264D70] to-90%

		 4
		 dark:bg-gradient-to-tr from-[#264D70] from-10% to-[#4C9784] 

		 bg-gradient-to-b from-[#4C9784] from-10% to-[#264D70] to-90%

		  bg-gradient-to-tr from-[#4C9784] via-[#2A6F82] to-[#264D70]
	</body> -->
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
